@font-face {
	font-family: noto;
	src: url(/Assets/NotoSans-Regular.ttf);
}

* {
	font-family: noto;
}
button {
	font-size: 1.05rem;
	border-radius: 1rem;
	height: 2.2rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	color: #328cc9;
	border-color: #eeeeee;
	background-color: #eeeeee;
}
dialog {
	text-align: center;
	padding-bottom: 1.5%;
	width: fit-content;
}
img {
	position: absolute;
	pointer-events: none;
}
h2 {
	font-size: x-large;
}
hr {
	width: 100%;
}
label {
	font-size: 120%;
}
p {
	font-size: large;
}
p, dialog {
	font-size: 1.2rem;
}
table {
	margin: 0px;
	border-spacing: 0px;
}
td {
	padding: 0px;
}
td, img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.center {
	text-align: center;
}
.fen {
	font-size: 1.2rem;
	width: 100%;
	text-align: center;
}
.hidden {
	position: absolute;
	right: 100000000px;
	opacity: 0;
}
.info {
	font-size: large;
}
.red {
	color: red;
}
.square {
	position: relative;
}

#buttonContainer {
	display: flex;
	justify-content: center;
}
#color {
	padding-left: 3%;
	padding-right: 3%;
}
#board {
	position: relative; 
	left: 50%;
	transform: translateX(-50%);
}
#container {
	padding-top: 7%;
	position: absolute;
	left: 50%;
	top: 40%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#fenInput, #depthInput {
	font-size: 120%;
	width: 55rem;
	text-align: center;
}
#depthInput {
	width: 3.5%;
}
#pgn {
	resize: none;
	text-align: center;
	font-size: large;
}
#promotion {
	padding-left: 2%;
	padding-right: 2%;
}
#resetFenInput {
	width: 50rem;
}
#result {
	padding-left: 4%;
	padding-right: 4%;
}
#startButton {
	font-size: 1.25rem;
	height: 2.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}